/* MOBILE */
@media (min-width:0px) and (max-width:414px) {
    /* Reseteo al cuerpo */
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: var(--white);
    }
    /* Reseteo al cuerpo */

    /* Estilos generales */
    * {
        text-decoration: none;
        margin: 0;
        padding: 0;
        list-style: none;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        /* outline: 1px red solid; */
    }
    /* Estilos generales */

    /* Variables de Color */
    :root {
        --blue: #1877F2;
        --white: white;
        --grey: rgb(180, 180, 180);
        --grey-icons: rgb(199, 199, 199);
        --black-grey: rgb(42, 42, 42);
        --black: black;
        --red: red;
        --green: rgb(74, 182, 74);
        --pink: rgb(255, 65, 96);
    }
    /* Variables de Color */

    /* COMENZAMOS */
    .main-login {
        width: 100%;
        margin: auto;
        align-items: center;
        display: flex;
    }

    .section-login {
        width: 100%;
        margin: auto;
        align-items: center;
    }

    .login-container {
        width: 90%;
        margin: auto;
    }

    .img-login {
        width: 100%;
        margin: 1rem auto;
    }

    .img-login img {
        width: 100%;
        border-radius: 50%;
        display: flex;
        margin: auto;
    }

    .login-contact {
        width: 100%;
        margin: auto;
    }

    .login-contact input {
        outline: 0;
        background-color: transparent;
        border: 0;
        border-bottom: 1px solid var(--grey-icons);
        margin: 1rem auto;
        width: 100%;
        padding: .2rem 0;
        color: var(--black);
    }

    .login-contact input:active {
        border-bottom: 1px solid var(--blue); 
    }

    .login-contact input::placeholder {
        padding: 1rem 0;
        color: var(--grey);
    }

    .login-contact a {
        margin: auto;
    }

    .login-contact button {
        width: 100%;
        display: block;
        background-color: var(--blue);
        color: var(--white);
        padding: .5rem 0;
        border-radius: .3rem;
        border: 0;
        font-size: 1rem;
    }

    .login-contact a {
        margin: 1rem auto;
        display: block;
        color: var(--blue);
        text-align: center;
    }

    .creation-acount {
        margin: auto;
        width: 100%;
    }
    
    .divicion {
        display: flex;
        align-items: center;
        width: 100%;
        margin: auto;
    }
    .divicion p {
        text-align: center;
        display: flex;
        margin: auto;
        font-size: 1.3rem;
    }

    .crear-button-box {
        margin: .5rem auto;
    }

    .crear-button-box a {
        margin: auto;
        display: flex;
    }

    .crear-button-box button {
        margin: 1rem auto;
        padding: .5rem 0;
        width: 100%;
        border-radius: .2rem;
        background-color: var(--green);
        color: var(--white);
        font-size: 1rem;
        border: 0;
    }
}