/* MOBILE */
@media (min-width:0px) and (max-width:500px) {
    /* Reseteo al cuerpo */
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: var(--white);
    }
    /* Reseteo al cuerpo */

    /* Estilos generales */
    * {
        text-decoration: none;
        margin: 0;
        padding: 0;
        list-style: none;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        /* outline: 1px red solid; */
    }
    /* Estilos generales */

    /* Variables de Color */
    :root {
        --blue: #1877F2;
        --white: white;
        --grey: rgb(180, 180, 180);
        --grey-icons: rgb(199, 199, 199);
        --black-grey: rgb(42, 42, 42);
        --black: black;
        --red: red;
        --green: rgb(74, 182, 74);
        --pink: rgb(255, 65, 96);
    }
    /* Variables de Color */

    /* COMENZAMOS */
    .section-desktop {
        display: none;
    }

    .description-facebook {
        display: none;
    }
    .main-login {
        width: 100%;
        margin: auto;
        align-items: center;
        display: flex;
    }

    .section-login {
        width: 100%;
        margin: auto;
        align-items: center;
    }

    .login-container {
        width: 90%;
        margin: auto;
    }

    .img-login {
        width: 100%;
        margin: 1rem auto;
    }

    .img-login img {
        width: 100%;
        border-radius: 50%;
        display: flex;
        margin: auto;
    }

    .login-contact {
        width: 100%;
        margin: auto;
    }

    .login-contact input {
        outline: 0;
        background-color: transparent;
        border: 0;
        border-bottom: 1px solid var(--grey-icons);
        margin: 1rem auto;
        width: 100%;
        padding: .2rem 0;
        color: var(--black);
    }

    .login-contact input:active {
        border-bottom: 1px solid var(--blue); 
    }

    .login-contact input::placeholder {
        padding: 1rem 0;
        color: var(--grey);
    }

    .login-contact a {
        margin: auto;
    }

    .login-contact button {
        width: 100%;
        display: block;
        background-color: var(--blue);
        color: var(--white);
        padding: .5rem 0;
        border-radius: .3rem;
        border: 0;
        font-size: 1rem;
    }

    .login-contact a {
        margin: 1rem auto;
        display: block;
        color: var(--blue);
        text-align: center;
    }

    .creation-acount {
        margin: auto;
        width: 100%;
    }
    
    .divicion {
        display: flex;
        align-items: center;
        width: 100%;
        margin: auto;
    }
    .divicion p {
        text-align: center;
        display: flex;
        margin: auto;
        font-size: 1.3rem;
    }

    .crear-button-box {
        margin: .5rem auto;
    }

    .crear-button-box a {
        margin: auto;
        display: flex;
    }

    .crear-button-box button {
        margin: 1rem auto;
        padding: .5rem 0;
        width: 100%;
        border-radius: .2rem;
        background-color: var(--green);
        color: var(--white);
        font-size: 1rem;
        border: 0;
    }
}

/* IPAD */
@media (min-width:501px) and (max-width:899px) {
    /* Reseteo al cuerpo */
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: var(--white);
    }
    /* Reseteo al cuerpo */

    /* Estilos generales */
    * {
        text-decoration: none;
        margin: 0;
        padding: 0;
        list-style: none;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        /* outline: 1px red solid; */
    }

    input {
        outline: 0;
    }
    /* Estilos generales */

    /* Variables de Color */
    :root {
        --blue: #1877F2;
        --blue-black:#136adb;
        --white: white;
        --grey: rgb(180, 180, 180);
        --grey-icons: rgb(199, 199, 199);
        --black-grey: rgb(42, 42, 42);
        --black: black;
        --red: red;
        --green: rgb(74, 182, 74);
        --green-black: rgb(58, 165, 58);
        --pink: rgb(255, 65, 96);
    }
    /* Variables de Color */

    /* COMENZAMOS */
    .section-login {
        display: none;
    }
    
    .section-desktop {
        width: 100%;
        min-height: 100vh;
        align-items: center;
        display: flex;
    }

    .login-desktop-container {
        margin: auto;
        width: 90%;
    }

    .title-container {
        width: 100%;
        margin: 2rem auto;
    }

    .title {
        color: var(--blue);
        font-size: 4rem;
        font-weight: 600;
        text-align: center;
    }

    .description {
        color: var(--black);
        font-size: 2rem;
        text-align: center;
    }

    .init-sesion {
        box-shadow: 1px 10px 20px 2px var(--grey-icons);
        border-radius: .5rem;
        width: 70%;
        margin: auto;
    }

    .init-sesion input {
        display: block;
        margin: .5rem auto;
        width: 90%;
        padding: 1rem .5rem;
        border-radius: .5rem;
        border: 1px solid var(--blue);
        font-size: 1.2rem;
    }

    .init-sesion input::placeholder {
        color: var(--grey-icons);
        font-size: 1.2rem;
    }

    .button-desktop-entrar {
        background-color: var(--blue);
        display: block;
        width: 90%;
        margin: 1rem auto;
        padding: .5rem 0;
        border-radius: .5rem;
        font-size: 1.5rem;
        color: var(--white);
    }

    .button-desktop-entrar:hover {
        background-color: var(--blue-black);
        transition: .2s ease;
    }

    .button-desktop-acount:hover {
        background-color: var(--green-black);
        transition: .2s ease;
    }

    .init-sesion button {
        border: 0;
    }

    .contra-box {
        width: 60%;
        margin: .2rem auto;
    }

    .contra {
        margin: auto;
        width: 90%;
        display: block;
    }

    .contra p {
        color: var(--blue);
        font-size: 1rem;
        display: block;
        margin: auto;
        text-align: center;
    }

    .contra p:hover {
        outline: 1px solid var(--blue);
    }

    .divicion {
        border-bottom: 1px solid var(--grey-icons);
        margin: 1rem auto;
        width: 90%;
    }

    .button-desktop-acount {
        width: 90%;
        font-size: 1.5rem;
        color: var(--white);
        padding: .5rem 0;
        margin: 1rem auto;
        background-color: var(--green);
        display: block;
        border-radius: .5rem;
    }

    .sub {
        width: 100%;
        margin: auto;
        display: block;
        padding: 2rem 0;
    }

    .sub p {
        color: var(--black);
        text-align: center;
    }

    .sub a {
        color: var(--black);
    }

    .sub a:hover {
        border-bottom: 1px solid var(--black);
    }
}

/* DESKTOP */
@media (min-width:900px) and (max-width:1230px) {
    /* Reseteo al cuerpo */
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: var(--white);
    }
    /* Reseteo al cuerpo */

    /* Estilos generales */
    * {
        text-decoration: none;
        margin: 0;
        padding: 0;
        list-style: none;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        /* outline: 1px red solid; */
    }

    input {
        outline: 0;
    }
    /* Estilos generales */

    /* Variables de Color */
    :root {
        --blue: #1877F2;
        --blue-black:#136adb;
        --white: white;
        --grey: rgb(180, 180, 180);
        --grey-icons: rgb(199, 199, 199);
        --black-grey: rgb(42, 42, 42);
        --black: black;
        --red: red;
        --green: rgb(74, 182, 74);
        --green-black: rgb(58, 165, 58);
        --pink: rgb(255, 65, 96);
    }
    /* Variables de Color */

    /* COMENZAMOS */
    .section-login {
        display: none;
    }
    
    .section-desktop {
        width: 100%;
        min-height: 100vh;
        align-items: center;
        display: flex;
    }

    .login-desktop-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: auto;
        width: 90%;
        justify-content: space-between;
    }

    .title-container {
        width: 100%;
        margin: auto;
    }

    .title {
        color: var(--blue);
        font-size: 5rem;
        font-weight: 600;
    }

    .description {
        color: var(--black);
        font-size: 2rem;
    }

    .init-sesion {
        box-shadow: 1px 10px 20px 2px var(--grey-icons);
        border-radius: .5rem;
        width: 80%;
        margin: auto;
    }

    .init-sesion input {
        display: block;
        margin: .5rem auto;
        width: 90%;
        padding: 1rem .5rem;
        border-radius: .5rem;
        border: 1px solid var(--blue);
        font-size: 1.2rem;
    }

    .init-sesion input::placeholder {
        color: var(--grey-icons);
        font-size: 1.2rem;
    }

    .button-desktop-entrar {
        background-color: var(--blue);
        display: block;
        width: 90%;
        margin: 1rem auto;
        padding: .5rem 0;
        border-radius: .5rem;
        font-size: 1.5rem;
        color: var(--white);
    }

    .button-desktop-entrar:hover {
        background-color: var(--blue-black);
        transition: .2s ease;
    }

    .button-desktop-acount:hover {
        background-color: var(--green-black);
        transition: .2s ease;
    }

    .init-sesion button {
        border: 0;
    }

    .contra-box {
        width: 50%;
        margin: .2rem auto;
    }

    .contra {
        margin: auto;
        width: 90%;
        display: block;
    }

    .contra p {
        color: var(--blue);
        font-size: 1rem;
        display: block;
        margin: auto;
        text-align: center;
    }

    .contra p:hover {
        outline: 1px solid var(--blue);
    }

    .divicion {
        border-bottom: 1px solid var(--grey-icons);
        margin: 1rem auto;
        width: 90%;
    }

    .button-desktop-acount {
        width: 90%;
        font-size: 1.5rem;
        color: var(--white);
        padding: .5rem 0;
        margin: 1rem auto;
        background-color: var(--green);
        display: block;
        border-radius: .5rem;
    }

    .sub {
        width: 90%;
        margin: 1rem auto;
    }

    .sub p {
        color: var(--black);
    }

    .sub a {
        color: var(--black);
    }

    .sub a:hover {
        border-bottom: 1px solid var(--black);
    }
}

@media (min-width:1231px) {
    /* Reseteo al cuerpo */
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: var(--white);
    }
    /* Reseteo al cuerpo */

    /* Estilos generales */
    * {
        text-decoration: none;
        margin: 0;
        padding: 0;
        list-style: none;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        /* outline: 1px red solid; */
    }

    input {
        outline: 0;
    }
    /* Estilos generales */

    /* Variables de Color */
    :root {
        --blue: #1877F2;
        --blue-black:#136adb;
        --white: white;
        --grey: rgb(180, 180, 180);
        --grey-icons: rgb(199, 199, 199);
        --black-grey: rgb(42, 42, 42);
        --black: black;
        --red: red;
        --green: rgb(74, 182, 74);
        --green-black: rgb(58, 165, 58);
        --pink: rgb(255, 65, 96);
    }
    /* Variables de Color */

    /* COMENZAMOS */
    .section-login {
        display: none;
    }
    
    .section-desktop {
        width: 100%;
        min-height: 100vh;
        align-items: center;
        display: flex;
    }

    .login-desktop-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: auto;
        width: 90%;
        justify-content: space-between;
    }

    .title-container {
        width: 100%;
        margin: auto;
    }

    .title {
        color: var(--blue);
        font-size: 5rem;
        font-weight: 600;
    }

    .description {
        color: var(--black);
        font-size: 2rem;
    }

    .init-sesion {
        box-shadow: 1px 10px 20px 2px var(--grey-icons);
        border-radius: .5rem;
        width: 50%;
        margin: auto;
    }

    .init-sesion input {
        display: block;
        margin: .5rem auto;
        width: 90%;
        padding: 1rem .5rem;
        border-radius: .5rem;
        border: 1px solid var(--blue);
        font-size: 1.2rem;
    }

    .init-sesion input::placeholder {
        color: var(--grey-icons);
        font-size: 1.2rem;
    }

    .button-desktop-entrar {
        background-color: var(--blue);
        display: block;
        width: 90%;
        margin: 1rem auto;
        padding: .5rem 0;
        border-radius: .5rem;
        font-size: 1.5rem;
        color: var(--white);
    }

    .button-desktop-entrar:hover {
        background-color: var(--blue-black);
        transition: .2s ease;
    }

    .button-desktop-acount:hover {
        background-color: var(--green-black);
        transition: .2s ease;
    }

    .init-sesion button {
        border: 0;
    }

    .contra-box {
        width: 50%;
        margin: .2rem auto;
    }

    .contra {
        margin: auto;
        width: 90%;
        display: block;
    }

    .contra p {
        color: var(--blue);
        font-size: 1rem;
        display: block;
        margin: auto;
        text-align: center;
    }

    .contra p:hover {
        outline: 1px solid var(--blue);
    }

    .divicion {
        border-bottom: 1px solid var(--grey-icons);
        margin: 1rem auto;
        width: 90%;
    }

    .button-desktop-acount {
        width: 90%;
        font-size: 1.5rem;
        color: var(--white);
        padding: .5rem 0;
        margin: 1rem auto;
        background-color: var(--green);
        display: block;
        border-radius: .5rem;
    }

    .sub {
        width: 90%;
        margin: 1rem auto;
    }

    .sub p {
        color: var(--black);
    }

    .sub a {
        color: var(--black);
    }

    .sub a:hover {
        border-bottom: 1px solid var(--black);
    }
}