/* MOBILE */
@media (min-width:0px) and (max-width:500px) {
    /* Reseteo al cuerpo */
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: var(--grey-icons);
    }
    /* Reseteo al cuerpo */

    /* Estilos generales */
    * {
        text-decoration: none;
        margin: 0;
        padding: 0;
        list-style: none;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    /* Estilos generales */

    /* Variables de Color */
    :root {
        --blue: #1877F2;
        --white: white;
        --grey: rgb(180, 180, 180);
        --gray-white: rgb(224, 224, 224);
        --grey-icons: rgb(199, 199, 199);
        --black-grey: rgb(42, 42, 42);
        --black: black;
        --red: red;
        --green: rgb(74, 182, 74);
        --pink: rgb(255, 65, 96);
    }
    /* Variables de Color */
    .items-header-responsive {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: auto;
    }

    .header-responsive {
        width: 100%;
        background-color: var(--white);
        padding: .5rem 0;
        position: fixed;
        margin: auto;
        top: 0;
        left: 0;
        border-bottom: 1px solid var(--grey-icons);
    }

    .title-responsive {
        color: var(--blue);
        font-size: 1.7rem;
        font-weight: 600;
        margin: 0 .2rem;
    }

    .icons-header-responsive {
        width: auto;
    }

    .icons-header-responsive i {
        font-size: 1.5rem;
        border-radius: 50px;
        background-color: var(--gray-white);
        padding: .5rem;
    }

    .icons-header-responsive a {
        margin: 0 .2rem;
        color: var(--black);
    }

    /* NAVIGATION */
    .nav-responsive {
        width: 100%;
        background-color: var(--white);
        padding: 1rem 0 .5rem 0;
    }

    .items-nav-responsive {
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
    
    .items-nav-responsive i {
        font-size: 1.5rem;
    }

    .fa-home {
        color: var(--blue);
        border-bottom: 3px solid var(--blue);
    }

    /* CUERPO */
    .main-responsive {
        margin: 6.7rem auto 0 auto;
        width: 100%;
    }
    
    .section-responsive-cuerpo {
        width: 100%;
        margin: auto;
    }
    .crear-publi-responsive {
        margin: auto;
        width: 100%;
        background-color: var(--white);
    }

    .crear-publi-box {
        width: 90%;
        display: flex;
        margin: auto;
        justify-content: space-between;
        padding: 1rem 0;
    }

    .crear-publi-box img {
        width: 2.1rem;
        height: 2rem;
        border-radius: 50px;
    }

    .publi-responsive {
        width: 80%;
        border-radius: 50px;
        border: 1px solid var(--grey-icons);
        align-items: center;
        margin: auto;
        padding: .3rem 0;
    }

    .publi-responsive input {
        border: 0;
        outline: 0;
        margin: auto;
        display: flex;
        font-size: 1.1rem;
        width: 90%;
        color: var(--black);
    }

    .publi-responsive p {
        margin: 0 .5rem;
        color: var(--black);
    }

    .compartir-responsive {
        width: 100%;
        background-color: var(--white);
        padding: .5rem 0;
        border-top: 1px solid var(--grey-icons);
    }

    .compartir-box {
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }

    .compartir-box p {
        display: inline;
        color: var(--black-grey);
        font-weight: normal;
        margin: 0 .2rem;
    }

    .fa-video {
        color: var(--red);
    }

    .fa-images {
        color: var(--green);
    }

    .fa-map-marker-alt {
        color: var(--pink);
    }

    .historias-box-responsive {
        width: 100%;
        background-color: var(--white);
        margin: .5rem auto;
        padding: 1rem 0;
    }

    .historias-responsive {
        display: flex;
        width: 95%;
        margin: auto;
    }

    .historias-responsive img {
        width: 30%;
        margin: 0 .2rem;
        border-radius: .5rem;
        margin: auto;
    }

    /* PUBLICACIONES */
    .publicaciones-responsive {
        width: 100%;
        margin: .5rem auto;
        background-color: var(--white);
    }

    .publi-1-responsive-box {
        width: 95%;
        margin: auto;
    }

    .publi-responsive1 {
        width: 100%;
        margin: auto;
        padding: .2rem 0;
    }

    .name-user-responsive-box {
        display: flex;
    }

    .name-user-responsive-box img {
        width: 3rem;
        height: 2.5rem;
        border-radius: 50px;
        display: inline;
        margin: auto;
    }

    .name-time-responsive-box {
        width: 100%;
        margin: 0 .3rem;
        display: block;
    }

    .name-responsive {
        color: var(--black);
        font-weight: 600;
        display: block;
    }

    .publi-2-responsive-box {
        width: 95%;
        margin: .5rem auto 0 auto;
    }

    .publi-responsive2 {
        width: 100%;
        margin: auto;
        padding: .2rem 0;
    }

    .action-responsive {
        color: var(--grey);
        margin: auto;
    }

    .info-publi-responsive-box img {
        width: 15rem;
        height: 15rem;
        margin: auto;
        display: flex;
        border-radius: 10rem;
        border: 2px solid var(--white);
        box-shadow: 1px 1px 5px 5px var(--grey-icons);
    }

    .description-image-responsive {
        width: 100%;
        margin: .5rem auto;
    }

    .description-image-responsive p {
        text-align: center;
        color: var(--black);
    }

    .time-responsive-recent {
        color: var(--blue);
    }

    .images-section-responsive-box {
        width: 100%;
        margin: auto;
    }

    .images-section-responsive-box img {
        width: 100%;
        border-radius: .5rem;
        display: block;
        margin: .5rem auto;
    }

    .info-publi-responsive-box {
        width: 100%;
        margin: .5rem auto;
    }

    .info-publi-responsive-box p {
        font-size: 1.2rem;
        text-align: left;
    }

    .section-interaction-responsive-box {
        width: 100%;
        margin: auto;
        justify-content: space-between;
        display: flex;
        align-items: center;
        padding: 1rem 0;
        border-top: 1px solid var(--grey-icons);
    }

    .section-interaction-responsive-box i {
        display: flex;
        font-size: .8rem;
        margin: 0 .5rem;
    }

    .section-interaction-responsive-box p {
        font-size: .8rem;
        margin: 0 .1rem;
    }

    .publi-3-responsive-box {
        width: 95%;
        margin: auto;
    }

    .publi-responsive3 {
        padding: .2rem;
        width: 100%;
        margin: auto;
    }

    * {
        /* outline: 1px red solid; */
    }
}

/* IPAD */
@media (min-width:501px) and (max-width:899px) {
    
}

/* DESKTOP */
@media (min-width:900px) and (max-width:1230px) {

}

@media (min-width:1231px) {

}